extends layout

block content
  h1= title
  h1= JSON.stringify(data)
  
  
  

  form
  
  .row
    
    .col-8.col-sm-10.col-lg-10
      
      input#searchCity.form-control.input-large(autofocus='', type='search', placeholder='Enter a zipcode, name of city or country', 05='')
      
    
    .col-4.col-sm-2.col-lg-2
      
      input#searchButton.btn.btn-large(type='submit', value='Go')
      //- input#test(type="result").btn.btn-large(type='result', value='Go')
      //- div#test
  
 
    


  
  script.
     
      $("#searchButton").click(function(){


      let method = "post"
      let url = "https://api.openweathermap.org/data/2.5/weather?q="
      city = $("#searchCity").val()
      $.ajax({url:url, method:method , data:{city:city}}).done((data)=>{
        data= JSON.parse(data)

      let table = '<tr><td>' +data.main.tmep+ '</td><td>';

      $('#data').append(table);
      //- $('#test').append("fatma");
    
      })})
     
  table.table.table-bordered
      thead
        tr
          th(scope='col')
         
          
      tbody#data
        tr
      
      
    
  
  

      
        