extends layout

block content
  h1= title
  h1= JSON.stringify(data)
  
  
  

  form
  
  .row
    
    .col-8.col-sm-10.col-lg-10
      
      input#searchCity.form-control.input-large(autofocus='', type='search', placeholder='Enter a zipcode, name of city or country', 05='')
      
    
    .col-4.col-sm-2.col-lg-2
      
      input#searchButton.btn.btn-large(type='submit', value='Go')
  
 
    


  
  script.
      $("#submit").click(function(){


      let method = "get"
      let url = "https://api.openweathermap.org/data/2.5/weather?q="
      $.ajax({url:url, method:method}).done((data)=>{

      let table = '<tr><td>' +t.temp+ '</td><td>'  ;

      $('#data').append(table);
      }
     
  table.table.table-bordered
      thead
        tr
          th(scope='col')
         
          
      tbody#data
        tr
      
      
    
  
  

      
        