extends layout

block content
  h1= title
  h1= JSON.stringify(data)
  
  
  

  form
  
  .row
    
    .col-8.col-sm-10.col-lg-10
      
      input#searchCity.form-control.input-large(autofocus='', type='search', placeholder='Enter a zipcode, name of city or country', 05='')
      
    
    .col-4.col-sm-2.col-lg-2
      
      input#searchButton.btn.btn-large(type='submit', value='Go')
  
  //- .container
  //- .row
  //- .col-md-4.col-md-offset-4
  //- .weather
  //-   .current
  //-     .info
  //-       div  
  //-       .city
  //-           small
  //-           small CITY:

  
  script.
    $("#submit").click(function(){
      let d = {
        city:$("#city").val(),
        key :"8c67c721916b4be78c08db4b4356eb7a"
      }
        let url = "https://samples.openweathermap.org/data/2.5/weather"
        let method = "get"
      
      $.ajax({url:url, method:method,data:d}).done((data)=>{
        consol.log(data)
        
      })
    })
    

      
           