doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js", integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o", crossorigin="anonymous")
    // Font Awesome
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/css/mdb.min.css', rel='stylesheet')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js')

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') #{title}
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
              each key, index in buttons
                  li.nav-item.active
                      a.nav-link(href=key.url)
                          |  #{key.title}
    block content

    // Footer
    footer.page-footer.font-small.cyan.darken-3
      // Footer Elements
      .container
        // Grid row
        .row
          // Grid column
          .col-md-12.py-5
            .mb-5.flex-center
              // Facebook
              a.fb-ic
                i.fab.fa-facebook-f.fa-lg.white-text.mr-md-5.mr-3.fa-2x  
              // Twitter
              a.tw-ic
                i.fab.fa-twitter.fa-lg.white-text.mr-md-5.mr-3.fa-2x  
              // Google +
              a.gplus-ic
                i.fab.fa-google-plus-g.fa-lg.white-text.mr-md-5.mr-3.fa-2x  
              // Linkedin
              a.li-ic
                i.fab.fa-linkedin-in.fa-lg.white-text.mr-md-5.mr-3.fa-2x  
              // Instagram
              a.ins-ic
                i.fab.fa-instagram.fa-lg.white-text.mr-md-5.mr-3.fa-2x  
              // Pinterest
              a.pin-ic
                i.fab.fa-pinterest.fa-lg.white-text.fa-2x  
      | © 2018 Copyright:
