extends layout

block content
  h1= title


  table.table.table-bordered
    thead
      tr
        th(scope='col') title
        th(scope='col') body
        th(scope='col') user
        
    tbody
      tr
        th(scope='row') 
        td 
        td 
        
      tr
        th(scope='row') 
        td 
        td 
        
      tr
        th(scope='row') 
        td 
        td 
        